<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
{% block head %}{% endblock %}
</head>
<body>

{% block content %}{% endblock %}

</body>
</html>
