{% extends 'base.html' %}

{% block head %}
<script>
    $(document).ready(function() {
        $('#background').on('click', function() {
            $.get("{{ url_for('start_background_thread') }}");
        });
    });
</script>
{% endblock %}

{% block title %}
Index page
{% endblock %}

{% block content %}

<h3>Index Page</h3>

<button id="background">Background task test</button>

{% endblock %}
